.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px;
  &__container {
    width: 1000px;
    height: 802px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 28px 56px;
    &--settings {
      height: 252px;
      background-color: white;
      box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    }
    &--game {
      align-items: center;
    }
  }
  &__select-block {
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    width: 256px;
    margin-bottom: 37px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgba(0, 0, 0, 0.54);
      right: 20px;
      top: 40px;
      pointer-events: none;
    }
  }
  &__select {
    appearance: none;
    background-color: white;
    border: none;
    opacity: .6;
    margin-left: -3px;
    padding-top: 7px;
    width: 100%;
    padding-bottom: 17px;
  }
  &__title {
    opacity: .87;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  &__players {
    margin-top: 28px;
  }
  &__player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 846px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    padding-bottom: 5px;
    padding-right: 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .15px;
    margin-bottom: 18px;
  }
  &__avatar {
    border-radius: 50%;
  }
  &__credentials {
    display: flex;
    align-items: center;
  }
  &__text-credentials {
    display: inline-block;
    padding-left: 16px;
    margin: 0;
    color: #333;
  }
  &__email {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: .4px;
    line-height: 20px;
  }
  &__score {
    margin: 0;
    opacity: .87;
  }
  &__score-value {
    color: $primary;
  }
  &__block{
    width: 786px;
    display: flex;
    justify-content: space-between;
    &--1 {
      height: 230px;
      margin: 16px 0;
    }
    &--2 {
      height: 132px;
      margin-bottom: 21px;
    }
    &--3 {
      height: 240px;
    }
  }
  &__text {
    height: 100%;
    background-color: white;
    width: 360px;
    padding: 16px;
    padding-left: 72px;
    font-weight: 400px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    &::before {
      content: "1";
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: $primary;
      border-radius: 50%;
      text-align: center;
      font-size: 24px;
      color: white;
      line-height: 37px;
      left: 16px;
    }
    &--configure::before {
      content: "2";
    }
    &--start::before {
      content: "3";
    }
  }
  &__img {
    &--settings {
      width: 116px;
      height: 73px;
    }
  }
  &__time {
    width: 256px;
    height: 64px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 36px;
  }
  &__time-value {
    margin: auto;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 744px;
    height: 532px;
    margin-top: 60px;
  }

  &__flip-card {
    background-color: transparent;
    width: 168px;
    height: 168px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    &--flipped {
      transform: rotateY(180deg);
    }
    &--correct {
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(10, 207, 131, 0.5);
        z-index: 1;
        position: absolute
      }
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('icons/correct.svg');
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 10px
      }

    }
    &--incorrect {
      @extend .main__flip-card--correct;
      &::before {
        background: rgba(242, 78, 30, 0.5);
      }
      &::after {
        background-image: url('icons/incorrect.svg');
      }
    }
  }
  
  &__flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  &__flip-card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    object-fit: cover;
    &--back {
      transform: rotateY(180deg);
    }
  }
  
}

.correct {
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(10, 207, 131, 0.5);
    z-index: 1;
    position: absolute
  }
  &::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('icons/correct.svg');
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px
  }
} 